<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Folders Form</title>
</head>

<body>
    <form action="/folders" method="POST">
        <label for="folderName">Folder Name: </label>
        <input type="text" name="folderName" id="folderName">
        <button type="submit">Submit</button>
    </form>
</body>

</html>